body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*change here*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.text-muted {
  margin: 20px 0;
}



.navbar-header-smarthome-image {
  margin: 10px 0 0px 10px;
  padding: 1px 20px 1px;
  background: url(../../Images/SmartHome.png) no-repeat;  
  background-size: 30px 30px;
  height:30px;  
  width:30px; 
}

.footer-sinepulse-image {
  margin: 15px 0;
  padding: 5px 20px 5px;
  background: url(../../Images/CompanyLogo.png) no-repeat;  
  background-size: 30px 30px;
  height:30px;  
  width:30px; 
}



#footer-sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #424242;
  border-color: #080808;
  color: #ffffff;

}

#header-sticky{
  padding: 1px 20px 1px;
  
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #33691E;
  border-color: #080808;
  color: #ffffff;
}
.navbar-signup-image{
  margin: 10px 0;  
  background: url(../../Images/CompanyLogo.png) no-repeat;  
  background-size: 30px 30px;
  height:30px;  
  width:30px; 
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Here We will add some css for style our treeview*/
.treeCollapse {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    background-position: -36px -17px;
    display: inline-block;
    cursor: pointer;
}

.expand {
    width: 15px;
    background-image: url('../Images/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    background-position: -50px -17px;
    display: inline-block;
    cursor: pointer;
}

.treeview ul {
    font: 14px Arial, Sans-Serif;
    margin: 0px;
    padding-left: 20px;
    list-style: none;
}

.treeview > li > a {
    font-weight: bold;
}

.treeview li {
}

    .treeview li a {
        padding: 4px;
        font-size: 12px;
        display: inline-block;
        text-decoration: none;
        width: auto;
    }

    .footer-title {
        padding-left:85px;
    }
    .social-icon {
        font-size:20px;
        color:#FFF;
        padding-top:20px;
    }
    
    .social-icon .social-icon-rss {        
        padding:5px;
    }

    .social-icon .social-icon-rss:hover {
        color:#FF9800;
        padding:5px;
    }

    .social-icon .social-icon-fb {        
        padding:5px;
    }

    .social-icon .social-icon-fb:hover {
        color:#01579B;
        padding:5px;
    }

    .social-icon .social-icon-twitter {        
        padding:5px;
    }


    .social-icon .social-icon-twitter:hover {
        color:#00B0FF;
        padding:5px;
    }

    .social-icon .fa-user {        
        padding-top:15px;
    }

    .header-title-right {
        color:#FFF;
    }

#tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #33691E/*{fcDefault}*/;
    text-decoration: none;
}
#tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #FFF/*{fcActive}*/;
    background-color: #8BC34A;
    text-decoration: none;
    /*border: 1px solid #33691E;*/
}



#tabs .ui-widget-header,
#tabs {
    border: 1px solid #dddddd;    
}

.smarthome-text-off {
    color: #F44336;
}

.smarthome-text-on {
    color: #8BC34A;
}

hr.separator-border-1 {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid #eeeeee;
    width: 190px;
}

.text-grey {
    color: #E0E0E0;
}

h6.panel-title {
    margin-top: 10px;
    font-size: 12px;
    line-height: 0.5;
}
.line-height-less{
     line-height: 0.5;
}

.panel-body small {
        font-size: 10px;
}
h4.panel-title{
    margin-top: 10px;
    line-height: 0.5;
}

.switch-body{
    background-color: #424242;
    margin: 20px;
}

.margin-20 {
    margin: 20px;
}
.padding-20{
 padding: 20px;
}

.padding-top-35{
 padding-top: 35px;
}

.padding-10{
 padding: 10px;
}

.padding-bottom-9{
 padding-bottom: 9px;
}



.font-size-10{
    font-size: 10px;
    line-height: 0.6;
}

.switch-dimentsion {
    /*height:100px;*/
}

.switch-label{
    /*margin-top: 52px;*/
    /*font-size: 12px;*/
    /*padding-left: 5px;*/
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    /*float:none;*/
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.div-center{
    float: none;
    margin: 0 auto;

}

.border-1{
    border-top: 1px solid #F44336;
}


.slider-range-min.ui-state-default, .slider-range-min.ui-widget-content .ui-state-default, .slider-range-min.ui-widget-header .ui-state-default {
    border: 1px solid #8BC34A;
    /*background: #8BC34A;*/
    color: #8BC34A;
}

.slider-range-min .ui-corner-all, .slider-range-min .ui-corner-bottom, .slider-range-min .ui-corner-right, .slider-range-min .ui-corner-br {
    border-bottom-right-radius: 10px/*{cornerRadius}*/;
}

.slider-range-min .ui-corner-all, .slider-range-min .ui-corner-bottom, .slider-range-min .ui-corner-left, .slider-range-min .ui-corner-bl {
    border-bottom-left-radius: 10px/*{cornerRadius}*/;
}
.slider-range-min .ui-corner-all, .slider-range-min .ui-corner-top, .slider-range-min .ui-corner-right, .slider-range-min .ui-corner-tr {
    border-top-right-radius: 10px/*{cornerRadius}*/;
}
.slider-range-min .ui-corner-all, .slider-range-min .ui-corner-top, .slider-range-min .ui-corner-left, .slider-range-min .ui-corner-tl {
    border-top-left-radius: 10px/*{cornerRadius}*/;
}
.range-background{
    /*color: #33691E;*/
    border:0px;
    background-color: #424242;
    width: 60px;
}

.picker-range-background{      
    border:0px;
    background-color: #424242;
    width: 80px;
}

.imgwrapper {
   /*width: 80%;*/
}

.switch-panel-height{
    /*min-width:277px;*/
}
.panel-header-label-color{
   color: #8BC34A
}

.panel.panel-default .panel-heading{
   min-height:67px
}
/*.rgb-device-min-height{
    min-height:517px;
}*/


.arrow_box {
	position: relative;
	/*background: #88b7d5;*/
	border: 4px solid #c2e1f5;
    border:2px solid #dddddd;
    border-radius: 5px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #FFF;
	border-width: 13px;
	margin-left: -8px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #dddddd;
	border-width: 16px;
	margin-left: -11px;
}

#tabs{
    display:none;
}