@model IEnumerable<SmartHome.Entity.VersionInfoEntity>
@GetTreeView(Model, Model.FirstOrDefault().ParentId)

@helper GetTreeView(IEnumerable<SmartHome.Entity.VersionInfoEntity> siteMenu, int parentID)
{
foreach (var nextVersion in siteMenu.Where(a => a.ParentId.Equals(parentID)))
{
        <li>
            @{var submenu = siteMenu.Where(a => a.ParentId.Equals(nextVersion.SequenceId)).Count();}
            @if (submenu > 0)
            {
                <span class="treeCollapse collapsible">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            <span>
                <a href="#">@nextVersion.DisplayName</a>
            </span>
            @if (submenu > 0)
            {
                <ul>
                    @GetTreeView(siteMenu, nextVersion.SequenceId)
                    @* Recursive  Call for Populate Sub items here*@
                </ul>
            }
        </li>
                }
}








