<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-2 pull-left">
                    <img src="~/Images/bedroom.png" alt="bed room" style="width:44px;height:44px;" />
                </div>
                <div class="col-sm-6">
                    <h4 class="panel-title"><strong><span>Bed room</span></strong></h4>
                    <small><span>on/off status</span></small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-2  pull-left">
                    <img src="~/Images/device/fan_off.png" alt="bed room" style="width:40px;height:40px;" />
                </div>
                <div class="col-sm-6">
                    <h6 class="panel-title"><span class="text-grey">Fan</span></h6>
                    <small>
                        <span class="smarthome-text-on">
                            On-2
                        </span>
                        <span>
                            |
                        </span>
                        <span class="smarthome-text-off">
                            Off-1
                        </span>
                    </small>
                </div>
            </div>
            <hr class="separator-border-1" />

            <div class="row">
                <div class="col-sm-offset-2 col-sm-2  pull-left">
                    <img src="~/Images/device/bulb_off.png" alt="bed room" style="width:44px;height:44px;" />
                </div>
                <div class="col-sm-6">
                    <h6 class="panel-title"><span class="text-grey">Fan</span></h6>
                    <small>
                        <span class="smarthome-text-on">
                            On-2
                        </span>
                        <span>
                            |
                        </span>
                        <span class="smarthome-text-off">
                            Off-1
                        </span>
                    </small>
                </div>
            </div>
            <hr class="separator-border-1"/>           
            <div class="row">
                <div class="col-sm-offset-2 col-sm-2  pull-left">
                    <img src="~/Images/device/cfl_off.png" alt="bed room" style="width:44px;height:44px;" />
                </div>
                <div class="col-sm-6">
                    <h6 class="panel-title"><span class="text-grey">Fan</span></h6>
                    <small>
                        <span class="smarthome-text-on">
                            On-2
                        </span>
                        <span>
                            |
                        </span>
                        <span class="smarthome-text-off">
                            Off-1
                        </span>
                    </small>
                </div>
            </div>
            


            @*<hr />
            <div class="row">
                <div class="col-sm-offset-2 col-sm-2  pull-left">
                    <img src="~/Images/device/bulb_off.png" alt="bed room" style="width:40px;height:40px;" />
                </div>
                <div class="col-sm-6">
                    <h3 class="panel-title"><span class="text-grey">LED Bulb</span></h3>
                    <small>
                        <span class="smarthome-text-on">
                            On-2
                        </span>
                        <span>
                            |
                        </span>
                        <span class="smarthome-text-off">
                            Off-1
                        </span>
                    </small>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-sm-offset-2 col-sm-2  pull-left">
                    <img src="~/Images/device/cfl_off.png" alt="bed room" style="width:40px;height:40px;" />
                </div>
                <div class="col-sm-6">
                    <h3 class="panel-title"><span class="text-grey">LED Bulb</span></h3>
                    <small>
                        <span class="smarthome-text-on">
                            On-2
                        </span>
                        <span>
                            |
                        </span>
                        <span class="smarthome-text-off">
                            Off-1
                        </span>
                    </small>
                </div>
            </div>*@

        </div>
    </div>
</div>