<div class="col-sm-6 col-centered switch-panel-height">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="panel-title panel-header-label-color"><strong><span>Switch board</span></strong></h4>
                    <small><span>Bed room</span></small>
                </div>
            </div>
        </div>
        <div class="panel-body switch-body">
            <div class="text-center">
                <div class="container margin-20 padding-20">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="row">
                                <span class="font-size-10 text-grey">75</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <img src="~/Images/device/bulb_on.png" alt="bed room" />
                            </div>
                            <div class="row">
                                <span class="font-size-10 text-grey">Fan</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <img src="~/Images/device/cfl_on.png" alt="bed room" />
                            </div>
                            <div class="row">
                                <span class="font-size-10 text-grey">Fan</span>
                            </div>
                        </div>

                        <div class="col-sm-4">

                        </div>

                        <div class="col-sm-4">

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="row">
                                <span class="font-size-10 text-grey">Fan</span>
                            </div>
                        </div>

                        <div class="col-sm-4">

                        </div>

                        <div class="col-sm-4">

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="row">
                                <span class="font-size-10 text-grey">Fan</span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="row">
                                <img src="~/Images/device/dimmable_on.png" alt="bed room" />
                            </div>
                            <div class="row">
                                <span class="font-size-10 text-grey">Fan</span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="row">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="row">
                                <span class="font-size-10 text-grey">Fan</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>