@*<div class="demo">

        <p>
            <label for="amount">Maximum price:</label>
            <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
        </p>

        <div id="slider-range-min"></div>

    </div>*@



@*<div class="demo-description">
        <p>Fix the minimum value of the range slider so that the user can only select a maximum.  Set the <code>range</code> option to "min."</p>
    </div>*@



<div class="col-sm-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="panel-title"><strong><span>Switch board</span></strong></h4>
                    <small><span>Bed room</span></small>
                </div>
            </div>
        </div>
        <div class="panel-body switch-body">
            <div class="">
                <div class="container">

                    <div class="row switch-dimentsion">
                        <div class="col-sm-4">
                            <div class="col-sm-offset-1 col-sm-2 ">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="text-grey text-center switch-label">Fan</div>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-offset-1 col-sm-2  ">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="text-grey text-center switch-label">Fan</div>
                        </div>

                    </div>

                    <div class="row switch-dimentsion">
                        <div class="col-sm-4">
                            <div class="col-sm-offset-1 col-sm-2  ">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="text-grey text-center switch-label">Fan</div>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">

                        </div>

                    </div>


                    <div class="row switch-dimentsion">
                        <div class="col-sm-4">
                            <div class="col-sm-offset-1 col-sm-2  ">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="text-grey text-center switch-label">Fan</div>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">

                        </div>

                    </div>


                    <div class="row switch-dimentsion">
                        <div class="col-sm-4">
                            <div class="col-sm-offset-1 col-sm-2  ">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="text-grey text-center switch-label">Fan</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-offset-1 col-sm-2  ">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="text-grey text-center switch-label">Fan</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-offset-1 col-sm-2  ">
                                <img src="~/Images/device/bulb_off.png" alt="bed room" />
                            </div>
                            <div class="text-grey text-center switch-label">Fan</div>
                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
</div>