@using SmartHome.Model.Enums
@model List<SmartHome.Model.Models.Room>


@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-2 pull-left">
                        <img src="~/Images/bedroom.png" alt="bed room" style="width:44px;height:44px;" />
                    </div>
                    <div class="col-sm-6">
                        <h4 class="panel-title panel-header-label-color"><strong><span class="room" data-room-link="#@item.Name.Replace(" ","_")">@item.Name</span></strong></h4>
                        <small><span>on/off status</span></small>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                @foreach (var nextRoomDevice in item.SmartDevices.GroupBy(p => p.DeviceType))
                {

                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-2  pull-left">
                            @switch (nextRoomDevice.Key)
                            {
                                case DeviceType.SmartSwitch6g:
                                    <img src="~/Images/smart-devices/SmartSwitch.png" alt="Smart Switch" style="width:40px;height:40px;" />
                                    break;
                                case DeviceType.SmartRainbow12:
                                    <img src="~/Images/smart-devices/SmartRainbow.png" alt="Smart Rainbow" style="width:40px;height:40px;" />
                                    break;
                                case DeviceType.Curtain:
                                    <img src="~/Images/smart-devices/SmartCurtain.png" alt="Smart Curtain" style="width:40px;height:40px;" />
                                    break;
                                case DeviceType.Camera:
                                    <img src="~/Images/smart-devices/SmartCamera.png" alt="Smart Camera" style="width:40px;height:40px;" />
                                    break;
                                default:
                                    break;
                            }
                        </div>
                        <div class="col-sm-6">
                            <h6 class="panel-title"><span class="text-grey">@nextRoomDevice.Key.ToString()</span></h6>
                            <small>
                                <span class="smarthome-text-on">
                                    Total-@nextRoomDevice.Count().ToString()
                                </span>
                                @*<span>
                                        |
                                    </span>
                                    <span class="smarthome-text-off">
                                        Off-1
                                    </span>*@
                            </small>
                        </div>
                    </div>

                    <hr class="separator-border-1" />
                }



            </div>
        </div>
    </div>

  
}


