@model List<SmartHome.Model.Models.Version>

<div class="col-sm-4 div-center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row padding-20">
             
                <div class="col-sm-10">
                    <h4 class="panel-title panel-header-label-color"><span>Welcome to<strong> @Model.First().AppName</strong></span></h4>
                  
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row text-center">
                <div class="col-sm-12">                   
                        <img src="~/Images/tab-home/tab-home.png" alt="tab home" style="width:200px; height:105px;" />                  
                </div>             
            </div>

            <div class="padding-top-35">
                <div class="row padding-20 text-center">
                    <div class="arrow_box">
                        <div class="padding-10">
                            <div>
                                <span>Current App Version</span>
                            </div>

                            <div>
                                <strong><span>@Model.First().AppVersion</span></strong>
                            </div>
                        </div>


                    </div>
                    <div class="padding-top-35">
                        <strong> <span>Updated</span></strong>
                    </div>
                    <div>
                        <span>March 24, 2016</span>
                    </div>

                </div>
            </div>

            <div class="row padding-20">
                <div class="col-sm-12 text-center">

                    <div>
                        <span class="panel-header-label-color"> www.sinepulse.com </span>
                    </div>
                    <div class="font-size-10">
                        <span>©2016SinePulse GmbH</span> <span>|</span> <span class="panel-header-label-color">Terms & Conditions</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>