<div class="col-sm-6 col-centered">
    <div class="panel panel-default rgb-device-min-height">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="panel-title panel-header-label-color"><strong><span>RGBW</span></strong></h4>
                    <small><span>party room</span></small>
                </div>
            </div>
            <hr class="separator-border-1" />
        </div>
        <div class="panel-body switch-body">
            <div class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <img src="~/Images/device/bulb_on.png" alt="bed room" />
                            </div>
                            <div class="row">
                                <span class="font-size-10 text-grey">Fan</span>
                            </div>
                        </div>

                        <div class="col-sm-4">

                        </div>

                        <div class="col-sm-4">
                            <div class="row ">
                            </div>
                            <div class="row">
                                @*<div>
                                    <input type="text" id="color" name="color" value="#123456" class="colorText picker-range-background" />
                                </div>*@

                            </div>
                        </div>



                    </div>

                    <div class="row">
                        <div class="col-sm-6 div-center">
                            @*<div class="row imgwrapper">
                                    <div class="picker"></div>
                                </div>*@

                            <div class="imgwrapper">
                                <input type="text" class="input-color picker-range-background" name="color" value="#123456" />
                                <div class="picker">
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        @*<div class="col-sm-4">

                            </div>*@

                        <div class="col-sm-12 padding-20">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="slider-range-min" class="slider-range-min"></div>
                                    <input type="text" id="amount" class="amount range-background text-grey" />
                                </div>
                            </div>

                        </div>

                        @*<div class="col-sm-4">

                            </div>*@

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
