@model IEnumerable<SmartHome.Entity.VersionInfoEntity>

@{
    ViewBag.Title = "Simple";
    IEnumerable<SmartHome.Entity.DeviceInfoEntity> displayDevice = ViewBag.DeviceInfo;
}

<h2>Version tree</h2>
<div style="border:solid 1px black; padding:10px; background-color:#FAFAFA">
    <div class="treeview">
        @if (Model != null && Model.Count() > 0)
        {
            <ul>                
                @Html.Partial("Treeview", Model)
            </ul>
        }
    </div>
</div>

<h2>Device tree</h2>
<div style="border:solid 1px black; padding:10px; background-color:#FAFAFA">
    <div class="treeview">
        @if (displayDevice != null && displayDevice.Count() > 0)
        {
            <ul>
                
                @Html.Partial("TreeviewDevice", displayDevice)
            </ul>
        }
    </div>
</div>

@* Here We need some Jquery code for make this treeview collapsible *@
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".treeview li>ul").css('display', 'none'); // Hide all 2-level ul
            $(".collapsible").click(function (e) {
                e.preventDefault();
                $(this).toggleClass("treeCollapse expand");
                $(this).closest('li').children('ul').slideToggle();
            });
        });
    </script>
}



