<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="CommandModelDatabase" connectionString="Data Source=APL-14;Initial Catalog=DhakaWASA;User ID=sa;Password=sa123;" providerName="System.Data.SqlClient" />
    <add name="QueryModelDatabase" connectionString="Data Source=APL-14;Initial Catalog=DhakaWASA;User ID=sa;Password=sa123;" providerName="System.Data.SqlClient" />
    <add name="SensorDataLogDatabase" connectionString="Data Source=APL-14;Initial Catalog=DhakaWASA_SensorDataLog;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--<add name="SmartHome" connectionString="Data Source=APL-14;Initial Catalog=SmartHome12;User ID=sa;Password=sa123;" providerName="System.Data.SqlClient" />-->
    <add name="SmartHome" connectionString="Server=tcp:qpj7zfeqik.database.windows.net,1433;Database=smarthome;User ID=smarthomeiot@qpj7zfeqik;Password=TesT1234!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <appSettings>
    <add key="BrokerAddress" value="192.169.244.37" />
    <add key="BrokerPort" value="1883" />
    <!--<add key="BrokerAccessClientId" value="05413F22-88BC-4117-980E-1E451021DE54" />-->
    <add key="BrokerAccessClientId" value="1CF7A35F-EA97-465D-A1CA-5A18D67134E5" />
    <add key="BrokerKeepAlivePeriod" value="60" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>